<div ng-controller="View2Ctrl" class="view2">
  <div class="inline-block">Search iTunes</div>
  <input type="text" ng-model="data.artist" />
  <i class="glyphicon glyphicon-search" ng-click="submitArtist()"></i>
  <ul>
    <li ng-repeat="res in data.currentData">
      <img ng-src="{{res.artworkUrl100}}">
      <div class="inline-block res-description">
        <span class="track-name">{{res.trackName}}</span>
        <span class="collection-name">{{res.collectionName}}</span>
        <span class="artist-name">{{res.artistName}}</span>
      </div>
    </li>
  </ul>
  <div ng-show="resultShowed" class="result-buttons">
    <i class="glyphicon glyphicon-fast-backward" ng-click="showMoreResults(keywords[0])"><span>Beginning</span></i>
    <i class="glyphicon glyphicon-backward" ng-click="showMoreResults(keywords[1])"><span>Previous</span></i>
    <i class="glyphicon glyphicon-forward" ng-click="showMoreResults(keywords[2])"><span>Next</span></i>
    <i class="glyphicon glyphicon-fast-forward" ng-click="showMoreResults(keywords[3])"><span>End</span></i>
  </div>
</div>
