.view2 input {
  margin-left: 5px;
}

.view2 ul {
  list-style: none;
}

.view2 ul li {
  margin: 20px;
}

.view2 ul li:first-child {
  margin-top: 15px;
}

.view2 ul li:nth-child(odd) {
  background-color: #F3FCFF;
}

.view2 ul li img {
  border-width: 1px solid gray;
}

.view2 i.glyphicon-search {
  font-size: 1.5em;
  cursor: pointer;
}

.view2 .res-description {
  text-align: left;
  vertical-align: middle;
}

.view2 .res-description span {
  display: block;
}

.view2 .res-description span.track-name {
  font-weight: bold;
}

.view2 .res-description span.artist-name {
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .view2 li img,
  .view2 .collection-name {
    display: none;
  }
}

.view2 .result-buttons i {
  border: 1px solid #7BA6D0;
  padding: 5px 8px;
  margin: 5px 5px 0px 0px;
  cursor: pointer;
  border-radius: 5px;
}
.view2 .result-buttons i > span {
  margin-left: 2px;
}