<div ng-controller="View2Ctrl" class="view2">
  <div class="inline-block">Search Itunes</div>
  <input type="text" ng-model="data.artist" />
  <i class="glyphicon glyphicon-search" ng-click="submitArtist()"></i>
  <ul>
    <li ng-repeat="res in data.artistData | limitTo: 10">
      <img ng-src="{{res.artworkUrl100}}">
      <div class="inline-block res-description">
        <span class="track-name">{{res.trackName}}</span>
        <span class="collection-name">{{res.collectionName}}</span>
        <span class="artist-name">{{res.artistName}}</span>
      </div>
    </li>
  </ul>
</div>
